@charset "UTF-8";

/* common */
.right    {text-align:right;}
.left     {text-align:left;}
.center   {text-align:center;}

.fl       {float:left;}
.fr       {float:right;}
.clearBoth{clear:both;}

.relative {position:relative;}
.overflow {overflow:auto;}

.bold     {font-weight:500;}
.f_noraml {font-weight:normal !important;}
.hidden   {display:none;}
.ellipsis {text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}

.block  {display:block;}
.inline {display:inline-block;}

.mgT5   {margin-top:5px !important;}
.mgT10  {margin-top:10px !important;}
.mgT15  {margin-top:15px !important;}
.mgT20  {margin-top:20px !important;}
.mgT25  {margin-top:25px !important;}
.mgT30  {margin-top:30px !important;}
.mgT35  {margin-top:35px !important;}
.mgT40  {margin-top:40px !important;}
.mgT45  {margin-top:45px !important;}
.mgT50  {margin-top:60px !important;}
.mgT80  {margin-top:80px !important;}
.mgT100 {margin-top:100px !important;}

.pdLR10 {padding-left:10px !important; padding-right:10px !important;}
.pdLR20 {padding-left:20px !important; padding-right:20px !important;}
.pdLR30 {padding-left:30px !important; padding-right:30px !important;}
.pdLR40 {padding-left:40px !important; padding-right:40px !important;}
.pdLR50 {padding-left:50px !important; padding-right:50px !important;}
.pdLR80 {padding-left:80px !important; padding-right:80px !important;}

.pd0  {padding:0 0 0 0 !important;}
.pd10 {padding:10px 10px 10px 10px !important;}
.pd20 {padding:20px 20px 20px 20px !important;}
.pd30 {padding:30px 30px 30px 30px !important;}

@keyframes ani_down {
  0%   {opacity:0; transform: translateY(-5px);}
  100% {opacity:1; transform: translateY(0px);}
}

@keyframes ani_down2 {
  0%   {opacity:0; transform: translateY(2px);}
  50%   {opacity:1; transform: translateY(-2px);}
  100% {opacity:1; transform: translateY(0px);}
}

@keyframes bounceIn{
  0%   {opacity: 0;   transform: scale(0.3) translate3d(0,0,0);}
  50%  {opacity: 0.9; transform: scale(1.1);}
  80%  {opacity: 1;   transform: scale(0.89);}
  100% {opacity: 1;   transform: scale(1) translate3d(0,0,0);}
}

body {color:#55;}
a, a:hover {color:#555; cursor:pointer;}
a:focus,
button:focus {outline:none;}

/**/
button.btnstyle,
input.btnstyle,
.btnstyle,
.btnstyle:hover {display:inline-block; text-align:center; position:relative; cursor:pointer; text-decoration:none !important; vertical-align:middle;} /* 기본 설정 */

.btnstyle,
.btnstyle:hover {border-radius:1px;  letter-spacing:-0.01em;} /* 라운드 크기 및 자간 간격 기본 설정 */


/* 색상 값 부분*/
.btnstyle.blue     		      {background:#318de7; border:1px solid #318de7; color:#ffffff !important;}
.btnstyle.blue:hover,
.btnstyle.blue:focus		  {background:#2179cf; border-color:#2179cf; color:#ffffff !important;}

.btnstyle.gray                {background:#787b80; border:1px solid #787b80; color:#ffffff !important;}
.btnstyle.gray:hover,
.btnstyle.gray:focus		  {background:#666a6d; border-color:#666a6d; color:#ffffff !important;}

.btnstyle.white         	  {background:#ffffff; border:1px solid #aaaaaa; color:#555555 !important;}
.btnstyle.white:hover,
.btnstyle.white:focus         {background:#ffffff; border-color:#777777; color:#000000 !important; }

.btnstyle.red         	      {background:#f54750; border:1px solid #d84c00; color:#ffffff !important;}
.btnstyle.red:hover,
.btnstyle.red:focus		      {background:#d92932; border-color:#c74600; color:#ffffff !important; }

.btnstyle.black     		  {background:#333333; border:1px solid #111111; color:#ffffff !important;}
.btnstyle.black:hover,
.btnstyle.black:focus		  {background:#111111; border-color:#000000; color:#ffffff !important;}

/* disabled */
.btnstyle.disabled {pointer-events:none; cursor:default; color:rgba(255, 255, 255, 0.4) !important; opacity:0.5;}

/* 폰트 bold */
.amb_btnstyle.b               {font-weight:500;}


/* *******  amb_btnstyle에 직접 사이즈 class를 적용한 경우 ******* */
/* 폰트 크기 부분 -  line-height와 height 2px 차이나는 이유 - border 1px로 인한 텍스트 middle 정렬 때문 */
.btnstyle.middle          {font-size:13px; font-weight:; height:30px; line-height:28px; padding:0px 10px; font-weight:500;}
.btnstyle.large           {font-size:15px; font-weight:; height:40px; line-height:38px; padding:0px 14px; }

/* ******* amb_btnstyle 아이콘 폰트 사용시 ******* */
.btnstyle i[class^="ambicon-"],
.btnstyle i[class*=" ambicon-"] {display:inline-block; padding:0px; vertical-align:middle; margin-top:-2px; margin-left:-2px; font-size:18px;}

.btnstyle.onlyIcon   {padding:0 0px !important;}

.btnstyle.onlyIcon  i[class^="ambicon-"],
.btnstyle.onlyIcon  i[class*=" ambicon-"]  {padding:0 4px; font-size:16x; line-height:24px; margin-left:0; }

button:disabled,
.btnstyle:disabled {opacity:0.5; cursor:not-allowed;}

/*************************************/
/* rangeSlider 재선언 */
.ui-rangeSlider{height:12px; margin:0 6px;}
.ui-rangeSlider .ui-rangeSlider-innerBar{height:6px; margin:3px 0px; background:#ddd; border-radius:3px;}
.ui-rangeSlider .ui-rangeSlider-handle{width:0px; height:100%; background:#aaa;	background:rgba(100,100,100, 0.3); cursor:col-resize;}
.ui-rangeSlider .ui-rangeSlider-bar{margin:0px 0; background:transparent; height:100%;	cursor:move; cursor:grab; cursor:-moz-grab;}
.ui-rangeSlider .ui-rangeSlider-bar:before {display:block; content:''; width:100%; height:6px; margin:3px 0; background-color:#2a7cdd; border-radius:3px;}
.ui-rangeSlider-arrow{display:none;}
.ui-rangeSlider-container{height:100%;}
.ui-rangeSlider-withArrows .ui-rangeSlider-container{margin:0 11px;}
.ui-rangeSlider-noArrow .ui-rangeSlider-container{margin:0;}
.ui-rangeSlider-label{margin:0 0px 2px;	background:#3f4346;  white-space: nowrap;  bottom:15px;  padding:3px 6px 7px;  cursor:col-resize; color:#fff; border-radius:3px; font-size:12px;}
.ui-rangeSlider-label:after {display:block; content:''; position:absolute; bottom:-8px; left:50%; margin-left:-4px; width:0; height:0; border-left:4px solid transparent;  border-right:4px solid transparent;  border-top:8px solid #3f4346;}

/* common */
.fixedTop {}

/* input */
input:focus {outline:none;}
input:disabled {opacity:0.5; cursor:not-allowed;}
.inp {border:1px solid #ccc; background:#fff; height:30px; line-height:30px; padding:0 5px;}

input.inp:focus,
select.inp:focus,
textarea.inp:focus{border:1px solid #666;}

textarea,
textarea.inp {height:auto; padding:6px 5px; line-height:1.5em;}

/* radio , checkbox */
.rdchBox {display:inline-block; padding:5px 0px; line-height:16px;}
.rdchBox + .rdchBox {margin-left:5px;}
.rdchBox.block {display:block;}

input[type='radio'],
input[type='checkbox'] {display:none;}

input[type='radio'] + label,
input[type='checkbox'] + label {display:inline-block; position:relative; line-height:16px; margin-bottom:0;}

input[type='radio'] + label > .text,
input[type='checkbox'] + label > .text {display:inline-block; margin-left:5px;}

input[type='radio'] + label:before,
input[type='checkbox'] + label:before {display:inline-block; content:''; width:16px; height:16px; vertical-align:middle; margin:0;}

input[type='radio']:disabled + label,
input[type='checkbox']:disabled + label  {opacity:0.4; cursor:not-allowed;}
 
input[type='radio'] + label.labelCh:before {background-image:url('../img/input_rdo.png'); background-repeat:no-repeat; background-size:16px auto;}

input[type='radio'] + label.labelCh:before         {background-position:0 bottom;}
input[type='radio']:checked + label.labelCh:before {background-position:0 top;}

input[type='checkbox'] + label.labelCh:before {background-image:url('../img/input_chk.png'); background-repeat:no-repeat; background-size:16px auto;}

input[type='checkbox'] + label.labelCh:before         {background-position:0 bottom;}
input[type='checkbox']:checked + label.labelCh:before {background-position:0 top;}

/* table */
table {table-layout:fixed; width:100%; text-align:center;}
table.tableStyle tr {height:40px;}
table.tableStyle th,
table.tableStyle td {padding:10px 10px; line-height:1.4em;}
table.tableStyle th {color:#333;}

/* 라인 스타일 */
table.tableStyle     {border-width:1px 0px 0px 0px; border-style:solid none none none;}
table.tableStyle th,
table.tableStyle td  {border-width:0px 0px 1px 0px; border-style:none none solid none;} 

table.tableStyle     {border-color:#ccc transparent transparent transparent;}
table.tableStyle tr,
table.tableStyle th,
table.tableStyle td  {border-color:#ccc #ccc #ccc #ccc;}

table.tableStyle tr td:last-child {border-right:none;}

table.tableStyle .ellipsis {overflow:hidden; text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
table.tableStyle tbody tr:hover {background:rgba(255,255,255,0.5);}
table.tableStyle tbody tr:hover td {font-weight:bold;}


/* table formStyle */
table.tableStyle.formStyle     {border-width:1px 0px 0px 0px; border-style:solid none none none;}
table.tableStyle.formStyle th,
table.tableStyle.formStyle td  {border-width:0px 0px 1px 0px; border-style:none none solid none;} 

table.tableStyle.formStyle     {border-color:#ccc transparent transparent transparent;}
table.tableStyle.formStyle tr,
table.tableStyle.formStyle th,
table.tableStyle.formStyle td  {border-color:#ccc #ccc #ccc #ccc;}

/* table borderStyle */
table.tableStyle.borderStyle     {border-width:1px 1px 0px 1px; border-style:solid solid none solid;}
table.tableStyle.borderStyle th,
table.tableStyle.borderStyle td  {border-width:0px 0px 1px 0px; border-style:none none solid none;} 

table.tableStyle.borderStyle     {border-color:#ccc #ccc transparent #ccc;}
table.tableStyle.borderStyle tr,
table.tableStyle.borderStyle th,
table.tableStyle.borderStyle td  {border-color:#ccc #ccc #ccc #ccc;}

table.tableStyle.borderStyle th {background:#f3f3f3; border-right:1px solid #ccc;}
table.tableStyle.borderStyle td {border-right:1px solid #ccc;}

table.tableStyle.borderStyle tr td:last-child {border-right:none;}

table.tableStyle.borderStyle tbody tr:hover {background:none;}
table.tableStyle.borderStyle tbody tr:hover td {font-weight:normal;}

/* table gridStyle */
table.tableStyle.gridStyle thead th {background:#f3f3f3; text-align:center; border-top:1px solid #000;}
table.tableStyle.gridStyle tbody td {text-align:;}
table.tableStyle.gridStyle tbody tr:hover td {font-weight:normal;}

::-webkit-input-placeholder {color:#aaa;}
:-moz-placeholder           {color:#aaa; opacity:1;}
::-moz-placeholder          {color:#aaa; opacity:1;}
:-ms-input-placeholder      {color:#aaa;}
::placeholder               {color:#aaa; opacity:1;}

.bgGray  {background:#eeefef;}
.bgWhite {background:#fff;}
.lineBox {border:1px solid #ccc;}
.color_red   {color:#e73131 !important;}
.color_blue  {color:#3192e7 !important;}
.color_black {color:#000000 !important;}

/*************************************/
/* layout */
.mapArea {position:absolute; z-index:0; top:50px; bottom:0; left:60px; right:0;  padding-top:0px; overflow:auto; }
#map     {width:100%; height:100%; margin:0 0; padding:0; display:;}
.gnbArea {position:absolute; z-index:2; top:0; left:0; width:100%; height:50px;  border-bottom:1px solid rgba(255,255,255,0.2); box-shadow:0 2px 2px rgba(0,0,0,0.05); background:#333336;}
.lnbArea {position:absolute; z-index:4; top:50px; left:0; bottom:0; width:60px; border-bottom:1px solid #aaa; background:#333336; box-shadow:1px 0px 2px rgba(0,0,0,0.2);}
.lnbCont {position:absolute; z-index:3; top:50px; left:60px; bottom:0; display:none;}

body, 
.gnbArea {min-width:1024px;}
.mapArea {min-width:964px;}
body	 {min-height:600px;}
.mapArea,
.lnbArea, 
.lnbCont  {min-height:550px;}

/* dimScreen */
#dimScreen {position:fixed; padding:0; margin:0; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0); z-index: 10; display:none; }
/* dvIntro */
#dvIntro   {position:fixed; padding:0; margin:0; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0); z-index: 11;}

#dvStreetView {position:fixed; padding:0; margin:0;	top:50px; left:0; width:100%; height:100%;	background: rgb(255, 255, 255);	z-index:9; display:none;}
#dvStreetViewHeader {padding:0;	margin:0; width:100%; height:30px; background-color:#000;}
#dvStreetViewContent, #dvStreet {padding:0;	margin:0; width:100%; height:100%; background-color:#000;}
#dvStreetMini {width:300px; height:300px;}
/*************************************/

/* 파노라마 div */
.pano-close {text-decoration:none;}
.pano-close span {color:#fff; font-size:1.5em; position:relative; top:2px; left:98%;}

/* 지도 우측 버튼 */
.rightArea {font-size:13px; letter-spacing:-0.05em;}
.rightArea .mapBtn {position:absolute; z-index:1; padding:0px 2px; background-color:#fff; color:#000; border:1px solid #333; height:32px; line-height:28px; cursor:pointer; text-align:center;}
.rightArea .mapBtn:hover {}

.rightArea .mapBtn.active {background-color:#2a7cdd; color:#fff; border:1px solid #333; opacity:1;}

/* 면적재기 */
.btnCalcArea            {width:32px; top:15px; right:10px; overflow:hidden; text-indent:1000px; background:url('../img/mapRight_icon.png') no-repeat; background-position:0px -30px;}
.btnCalcArea.active     {background-position:-30px -30px;}
/* 거리재기 */
.btnCalcDistance        {width:32px; top:50px; right:10px; overflow:hidden; text-indent:1000px; background:url('../img/mapRight_icon.png') no-repeat; background-position:0px 0px;}
.btnCalcDistance.active {background-position:-30px 0px;}
/* 거리뷰 */
.btnStreetView          {width:32px; top:85px; right:10px; overflow:hidden; text-indent:1000px; background:url('../img/mapRight_icon.png') no-repeat; background-position:0px -60px;}
.btnStreetView.active   {background-position:-30px -60px;}


/*************************************/
/* mapInnerBox // naverMap custom overlay */
.mapInnerBox {position:relative; overflow:; width:350px; animation:bounceIn 0.25s linear 0s 1 alternate; box-shadow:0 5px 2px rgba(0,0,0,0.5); background:transparent;}
.mapInnerBox:after {display:block; content:''; width:0; height:0; border-top:12px solid #333336; border-left:8px solid transparent; border-right:8px solid transparent; position:absolute; bottom:-12px; left:50%; margin-left:-8px;}
.mibHeader {display:block; border:none; padding:15px 15px; background:#f5f6f7; font-weight:500;  border:1px solid rgba(0,0,0,0.4); border-radius:4px 4px 0 0;}
.mibBody {display:block; overflow:auto; max-height:;  background:#333; border-radius:0 0 0 0;} 
.mibBody .munuType {overflow:auto; clear:both;}
.mibBody .munuType .link {display:inline-block;  float:left; width:50%; border-bottom:1px solid #222; position:relative; }
.mibBody .munuType .link button {display:block; width:100%; padding:0 30px 0 50px; height:60px; text-align:left; color:rgba(255,255,255,0.8); position:relative; line-height:1.2em; font-size:12px; font-weight:500; border-right:1px solid #222;}

.mibBody .munuType .link:last-child {border-bottom:none;}
.mibBody .munuType .link:hover button {animation:ani_down 0.2s ease-out 0s 1 alternate; color:rgba(255,255,255,1.0); background:#222;}

.mibBody .munuType .link button:before {display:inline-block; content:''; width:30px; height:30px; border-radius:0; position:absolute; left:13px; top:15px; border:0px solid rgba(255,255,255,0.3);}
.mibBody .munuType .link button:before {background:url('../img/infoWindow_icon.png') no-repeat;}
.mibBody .munuType .link button.mibIcon_01:before {background-position:0 0;}
.mibBody .munuType .link button.mibIcon_02:before {background-position:0 -30px;}
.mibBody .munuType .link button.mibIcon_03:before {background-position:0 -60px;}
.mibBody .munuType .link button.mibIcon_04:before {background-position:0 -90px;}

/*************************************/
/* GNB  Area */
.gnbArea {clear:both; text-align:right;}
.gnbArea h1{display:inline-block; height:100%; width:auto; margin:0 30px 0 10px; vertical-align:middle; float:left; border:0px solid #fff;}
.gnbArea h1 .logo {display:block; width:150px; height:100%; background:url('../img/gnb_logo.png') no-repeat;}

.gnbArea .dvNoticeTicker {display:inline-block; display:none; width:400px; overflow:hidden; position:relative; vertical-align:middle;}
.gnbArea .dvNoticeTicker:before {display:inline-block; content:''; position:absolute; left:0; top:0; width:30px; height:30px;
	background:url('../img/gnb_icon.png') no-repeat; 
	background-position:0 -60px;
	opacity:0.6;
}
.gnbArea .dvNoticeTicker .newsTicker {height:30px; line-height:30px; overflow:hidden; position:relative; margin:0 0px 0 110px;}
.gnbArea .dvNoticeTicker .newsTicker li {height:100%; padding:0 5px; margin:0;}
.gnbArea .dvNoticeTicker .newsTicker li > a {display:block; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}
.gnbArea .dvNoticeTicker .newsTicker li > a:hover {font-weight:bold; animation:ani_down2 0.2s ease-out 0s 1 alternate;}
.gnbArea .dvNoticeTicker .newsTotalBtn {display:block; position:absolute; left:32px; top:3px; width:; height:30px; height:24px; line-height:22px; border-radius:22px; padding:0 10px; border:1px solid #ccc; background:#f9f9f9;}
.gnbArea .dvNoticeTicker .newsTotalBtn:hover {background:#47494e; color:#fff; border-color:#000;}

.gnbArea .dvEtc {display:inline-block;  height:100%;}
.gnbArea .dvEtc .unit { display:inline-block; border-left:1px solid rgba(255,255,255,0.2); line-height:50px; padding:0 8px;}
.gnbArea .dvEtc .unit:after {display:inline-block; content:''; width:30px; height:30px; vertical-align:middle; background:url('../img/gnb_icon.png'); line-height:0; margin-top:-4px;  opacity:0.6;}
.gnbArea .dvEtc .unit.contact:after      {background-position:-30px 0px;}

.gnbArea .dvEtc .unit.login:after        {background-position:-30px -150px;}
.gnbArea .dvEtc .unit.logout:after       {background-position:-30px -180px;}
.gnbArea .dvEtc .unit.logout {display:none;}

.gnbArea .dvEtc .unit:hover:after {animation:ani_down2 0.2s ease-out 0s 1 alternate;}


/* GNB 지도 관련 버튼 */
.dvBtnArea {font-size:13px; letter-spacing:-0.05em;  display:inline-block; position:relative; vertical-align:top; height:100%; margin-right:10px;}
.dvBtnArea .mapBtn {position:absolute; z-index:1; padding:0px 2px; background-color:#545759; color:#fff; border:1px solid #6c6e71; height:30px; line-height:28px; cursor:pointer; text-align:center;}
.dvBtnArea .mapBtn:hover {}
.dvBtnArea .mapBtn.active {background-color:#2a7cdd; color:#fff; border:1px solid rgba(255,255,255,0.2); opacity:1;}

/* 위성 */
.btnMapSatellite {width:54px; top:10px; right:0px;}
/* 일반 */
.btnMapNormal    {width:54px; top:10px; right:53px;}
/* 지적도 */
.btnJijeok       {width:54px; top:10px; right:120px;}
/* 타임뷰 */
.btnTimeview     {width:54px; top:10px; right:173px;}

/* 타임뷰 영역*/
.dvTimeview   {position:absolute; top:10px; right:226px; z-index:1; border:1px solid #333; background:#fff; height:30px;  width:300px; display:none;}
.dvTimeview .dvAutoYearRange {position:relative;}
.dvTimeview .dvAutoYearRange .btnAutoYear {width:30px; height:28px; position:absolute; left:0; top:0; overflow:hidden;}
.dvTimeview .dvAutoYearRange .btnAutoYear input[type='checkbox'] {opacity:0;}
.dvTimeview .dvAutoYearRange .btnAutoYear i.btnIcon {position:absolute; display:block; top:0; left:0; width:30px; height:29px; z-index:1; border-right:1px solid #000; }
.dvTimeview .dvAutoYearRange .btnAutoYear i.btnIcon {background-image:url('../img/icon_playstop.png'); background-repeat:no-repeat; background-color:#fff;} 

.dvTimeview .dvAutoYearRange .btnAutoYear input[type='checkbox'] + i.btnIcon          {background-position:0 -31px; background-size:60px 60px;}
.dvTimeview .dvAutoYearRange .btnAutoYear input[type='checkbox']:checked + i.btnIcon  {background-position:-30px -1px; background-size:60px 60px;  background-color:#2a7cdd;}
.dvTimeview .dvAutoYearRange .btnAutoYear input[type='checkbox']:disabled + i.btnIcon {opacity:0.5; cursor:not-allowed;}

.dvTimeview .dvYearRange {margin-left:36px;}
.dvTimeview .dvYearRange.ui-rangeSlider {margin-top:7px;}

.dvTimeview .dvYearRange.ui-rangeSlider .ui-rangeSlider-label {bottom:auto; top:18px;}
.dvTimeview .dvYearRange.ui-rangeSlider .ui-rangeSlider-label:after {border-left:4px solid transparent;  border-right:4px solid transparent;  border-bottom:8px solid #3f4346; border-top:none; bottom:auto; top:-8px;}

/*************************************/
/* LNB  Area */
.lnbArea {}
.lnbArea .menuToogle {position:absolute; left:0; top:-50px; display:block; width:60px; height:50px; background:#333; border:0; display:none;}
.lnbArea .menuToogle:before {background:url('../img/menu_icon.png') no-repeat; display:inline-block; content:''; width:30px; height:30px;}
.lnbArea .menuToogle:before {background-position:0 0;}
.lnbArea .memuList {clear:both;  border-bottom:1px solid rgba(255,255,255,0.2)}

.lnbArea .memuList > li {border-top:1px solid rgba(255,255,255,0.2); border-bottom:1px solid #000; position:relative; width:60px;}
.lnbArea .memuList > li:nth-of-type(1) {border-top:none; margin-top:0px;}

.lnbArea .memuList li > a {display:block; min-height:70px; line-height:70px;}
.lnbArea .memuList li > a > i {display:inline-block; width:30px; height:30px; position:absolute; left:15px; top:50%; margin-top:-15px;}
.lnbArea .memuList li > a > span {display:none; position:absolute; width:160px; height:40px; line-height:40px;  top:50%; left:65px; margin-top:-20px; border-radius:2px; font-size:14px; letter-spacing:-0.05em; padding:0 10px; background:#333336; color:#fff;}
.lnbArea .memuList li > a > span:after {display:block; content:''; position:absolute; left:-4px; top:50%; margin-top:-5px; width:0; height:0; border-top:4px solid transparent; border-bottom:4px solid transparent; border-right:4px solid #333336;}
.lnbArea .memuList li > a > i {opacity:0.6;}

.lnbArea:hover {}
.lnbArea .memuList li > a:hover > span {display:block; animation:ani_down2 0.2s ease-out 0s 1 alternate;}
.lnbArea .memuList li > a:hover > span {animation:ani_down 0.2s ease-out 0s 1 alternate;}

.lnbArea .memuList li > a > i {background:url('../img/menu_icon.png') no-repeat;}
.lnbArea .memuList li > a.menu01 > i {background-position:0 -60px;}
.lnbArea .memuList li > a.menu02 > i {background-position:0 -90px;}
.lnbArea .memuList li > a.menu03 > i {background-position:0 -120px;}
.lnbArea .memuList li > a.menu04 > i {background-position:0 -150px;}
.lnbArea .memuList li > a.menu05 > i {background-position:0 -180px;}

.lnbArea .memuList li.active > a {background-color:#2a7cdd;}
.lnbArea .memuList li.active > a > i,
.lnbArea .memuList li.active > a > span {opacity:1; font-weight:bold;}

.lnbArea .memuList li.active:before {display:none; content:''; width:10px; height:10px; position:absolute; background:#fff; right:-1px; top:50%; margin-top:-5px; z-index:4;}
.lnbArea .memuList li.active:hover:before {}

.lnbArea .memuList li.disabled > a {pointer-events: none; background:rgba(255,255,255,0.05);}
.lnbArea .memuList li.disabled:after {display:block; content:'';  position:absolute; z-index:3; width:100%; height:100%;  top:0; left:0; cursor:not-allowed; background:#fff; opacity:0.2;}

/*************************************/
/* LNB  lnbCont */
.lnbCont {display:block; opacity:1.0;}
.lnbContWrap {animation:ani_down 0.2s ease-out 0s 1 alternate;  display:none; width:100%; height:100%; min-width:200px; position:relative;  border-right:1px solid #aaa; border-left:0px solid #aaa; margin:0px 0 0 0px; box-shadow:1px 0 2px rgba(0,0,0,0.2); background:#fff;}
.lnbContWrap:before {}
.lnbContWrap .headArea {border-bottom:1px solid #ccc; display:block; position:absolute; width:100%; top:0; left:0; right:0; background-color:#2a7cdd; height:50px;}
.lnbContWrap .bodyArea {border-left:1px solid #ccc; position:absolute; width:100%; top:50px; bottom:50px; left:0; right:0; margin:0 0; background:#f5f6f7; overflow:auto; }
.lnbContWrap .bodyArea::-webkit-scrollbar {width:8px; height:8px;}
.lnbContWrap .footArea {border:1px solid #ccc; border-right:0; display:block;  position:absolute; width:100%; bottom:0; left:0; right:0; background:#fff; height:50px; line-height:46px; text-align:right; padding:0 15px;}

.lnbContWrap .headArea h2 {color:#fff; display:inline-block; padding:0 15px; font-size:14px; line-height:48px;}
.lnbContWrap .headArea .close {display:block; position:absolute; width:50px; height:50px; right:0; top:0; border-left:0px solid rgba(255,255,255,0.2); color:#fff; opacity:0.8; font-size:18px;}
.lnbContWrap .headArea .close:hover {background:rgba(0,0,0,0.05);}

.lnbContWrap .footerEtcText {border:1px solid #ccc; border-right:0; border-bottom:0; padding:15px 20px 15px 20px; font-size:12px; bottom:50px; position:absolute; background:rgba(0,0,0,0.00); color:#666;}
.lnbContWrap .footerEtcText .tit {font-weight:bold; position:relative; padding:0 0 0 15px; color:#333; margin-bottom:3px;}
.lnbContWrap .footerEtcText .tit:before {display:inline-block; content:'※'; font-weight:; position:absolute; left:-2px;}
.lnbContWrap .footerEtcText .cont {line-height:1.5em;}

/*************************************/
/* LNB  lnbCont 주소 검색 */
.adressSArea {margin:20px 20px; position:absolute; top:0; right:0; left:0; overflow:auto; z-index:1; }
.searchInp {display:block; width:100%; border:2px solid #ddd; height:50px; padding:0 50px 0 20px; font-size:14px; font-weight:bold;}
.searchBtn {position:absolute; top:0px; right:0px; display:block; border:0px solid #000; width:54px; height:50px;}
.searchBtn:before {
	font-family: 'AMB-iconfont' !important; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform:none; line-height:1;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	display:block; width:100%; height:100%; color:#000; font-size:22px; line-height:50px;
	content:'\e919';
}
.searchBtn:hover {background:rgba(0,0,0,0.08);}
.adressSAreaResult {position:relative; overflow:auto; padding:10px 20px; margin-top:90px; }


/*************************************/
/* modal */
.modal.fade .modal-dialog {}

.modal {background:rgba(0,0,0,0.5); text-align:center; padding:0 !important; width:100%; height:100%; display:none;}
.modal.in {animation:ani_down2 0.2s ease-out 0s 1 alternate;}
.modal.in .modal-dialog {z-index:1041;
	-webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.modal .modal-dialog {display:block; text-align:left;  vertical-align:middle; margin:0 auto; max-width:96%; top:50%;}

.modal .modal-content {display:block; border-radius:2px; margin:0 auto;}
.modal .modal-header {min-height:48px; padding:15px 0 13px; width:100%; border-bottom:1px solid #ccc;}
.modal .modal-header h2 {height:auto; font-size:16px; display:inline-block; margin:0 60px 0 20px; line-height:18px; color:#000;}
.modal .modal-header h2 .sText {font-size:13px; font-weight:normal; letter-spacing:-0.05em; color:#000;}
.modal .modal-header .close {display:inline-block; width:50px; height:50px; opacity:1;   position:absolute; right:0; top:0;}
.modal .modal-header .close:hover {background:rgba(0,0,0,0.05);}
.modal .modal-header .close i {display:block; height:100%; line-height:48px; opacity:0.5;}

.modal .modal-body {background:#f5f6f7; overflow:auto; padding:20px 20px;}
.modal .modal-body.bgGray  {background:#eeefef;}
.modal .modal-body h2.title {font-size:14px; font-weight:bold; }

.modal .modal-footer {border-top:1px solid #ccc; padding:10px 15px;}

/*************************************/
/* modal content common */
.rowBox {clear:both;}
.rowBox:after {display:block; content:''; height:0; line-height:0; padding:0; margin:0; clear:both;}

.unit {overflow:auto; display:block;}
.unit_tit {display:block; clear:both; margin-bottom:2px; min-height:30px;}
.unit_cont {display:block; clear:both; margin-bottom:5px;}

.unit:after,
.unit_tit:after,
.unit_cont:after {display:block; content:''; height:0; line-height:0; padding:0; margin:0; clear:both;}

.sTit {display:inline-block; font-size:14px; font-weight:500; padding:0 0 0 10px; position:relative; margin-top:6px; color:#2a7cdd; float:left;}
.sTit:before {display:inline-block; content:''; width:6px; height:6px; border-radius:3px; background:#2a7cdd; position:absolute; left:0; top:50%; margin-top:-3px;}
.sTit.circle:before {background:none; border:1px solid #2a7cdd;}

.btnArea {display:block; margin:10px 0;}

.inputGroup {display:block; clear:;}
.inputGroup:after {display:block; content:''; height:0; line-height:0; clear:both;}
.inputGroup span.inline {line-height:30px;}

/*************************************/
/* loginBox */
.loginBox {border:0px solid #ccc; overflow:hidden; text-align:center; padding:50px 55px 60px;}
.loginBox .title     {display:block; font-size:24px !important; font-weight:400; color:#000; margin-bottom:30px;}
.loginBox .inputArea {display:block; overflow:hidden;}
.loginBox .inputArea input {display:inline-block; width:100%; text-align:center; height:42px; line-height:42px; padding:0 10px;  margin-bottom:5px; font-size:14px;}

.loginBox .inputArea input.id:focus,
.loginBox .inputArea input.pw:focus {border:1px solid #000; background:rgba(0,0,0,0.02);}
.loginBox .inputArea .btnLogin {display:block; width:100%; height:42px; line-height:42px; margin-top:10px; background:#333336; color:#fff; font-size:14px;}
.loginBox .inputArea .btnLogin:hover,
.loginBox .inputArea .btnLogin:focus {background:#000;}

.loginBox .joinLink {display:block; margin:40px auto 0; width:70px; height:auto;}
.loginBox .joinLink:before {}
.loginBox .joinLink .underline {text-decoration:underline; display:inline-block; }
.loginBox .joinLink .underline:hover {color:#000;}
.loginBox .joinLink .underline:before {display:block; content:''; margin-bottom:10px; width:70px; height:70px; background:url('../img/login_img_join.png') no-repeat; background-size:70px auto; background-position:0 0;}

/*************************************/
/* joinBox */
.etcText {}
.termBox {border:1px solid #aaa; background:#fff; height:100px; padding:10px; overflow:auto; line-height:1.4em; color:#000;}
.termBox img {max-height:100%;}

.joinBox .lineBox {background:#fff;}
.joinBox .lineBox > table {border-top:0 !important;}
.joinBox .lineBox > table tr:last-child th,
.joinBox .lineBox > table tr:last-child td {border-bottom:0 !important;}

.helpCont {display:block; color:#ff0000; font-weight:normal; font-size:12px; line-height:14px; margin:4px 0 2px; display:none;}

.joinOkText  {font-size:16px; font-weight:500; margin:20px auto 10px; text-align:center; }
.joinEndText {font-size:16px; font-weight:400; margin:20px auto 50px; text-align:center;}
.joinEndText:before {display:inline-block; content:''; margin-bottom:10px; width:70px; height:70px; background:url('../img/login_img_join.png') no-repeat; background-size:70px auto; background-position:0 -70px;}
.joinEndText strong {display:block; font-size:28px; font-weight:300; margin-bottom:10px; letter-spacing:2px;}

.joinStep04 {padding:30px 0 70px;}

/*************************************/
/* alertCont */
.modal .modal-dialog.alertBox {width:450px;}
.modal .modal-dialog.alertBox .modal-header {height:0; min-height:0; padding:0 0;}
.modal .modal-dialog.alertBox .modal-header .close {width:50px; height:50px; position:absolute; right:0; top:0; z-index:1;}
.modal .modal-dialog.alertBox .modal-body {background:#fff;}
.modal .modal-dialog.alertBox .modal-footer {text-align:center; padding:20px 20px; background:#f5f6f7; border-top:none;}
.modal .modal-dialog.alertBox .modal-footer .btnstyle {min-width:;}
.alertCont {text-align:center; padding:30px 0 25px;}
.alertCont .iconBlock {display:block; width:70px; height:70px; border:4px solid #98c2f3; border-radius:50%; margin:-10px auto 15px; position:relative; animation:bounceIn 0.45s linear 0s 1 alternate;}
.alertCont .iconBlock:before {display:block; content:''; width:4px; height:30px; border-radius:3px; background:#98c2f3; margin:10px auto 0;}
.alertCont .iconBlock:after  {display:block; content:''; width:4px; height:5px;  border-radius:3px; background:#98c2f3;  margin:4px auto 0;}
.alertCont .alertText {display:block; font-size:18px; padding:0px 20px; font-weight:500;}
.alertCont .alertSubText {display:none; padding:15px 20px 0px; }

/*************************************/
/* heatmapList HeatMap 보기 */
.heatmapList {border:0px solid #000; overflow:; padding:20px;}
.heatmapList li {padding:4px 0;}
.heatmapList li:hover .rdchBox {animation:ani_down 0.2s ease-out 0s 1 alternate;}

/*************************************/
/* mulgunList 물건 보기 */
.mulgunList {border:0px solid #000; overflow:; padding:20px;}
.mulgunList li {padding:4px 0;}
.mulgunList li:hover .rdchBox {animation:ani_down 0.2s ease-out 0s 1 alternate;}

/*************************************/
/* 수지분석 */


/*************************************/
/* dvCateGwansim 관심물건등록 */
.dvCateGwansim {}

/*************************************/
/* dvConsultRequest 컨설팅 요청 */
.dvConsultRequest {}

.topInfoBox {padding:0px 10px 0px 28px; margin-bottom:20px; font-size:13px; line-height:1.6em; letter-spacing:-0.05em; position:relative;}
.topInfoBox:before {
	font-family: 'AMB-iconfont' !important; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform:none; line-height:1;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	display:block; width:30px; height:30px; color:#000; font-size:18px; line-height:30px;
	position:absolute; left:0; top:-5px;
	content:'\e92d'; color:#999;
}


/*************************************/
/* dvTojiUseRegul 토지 이용 규제 현황 보기 */
.dvTojiUseRegul {}
